@using Intl.Realty.Firm.Models.Models.ViewModel.TransactionTypeVM
@model CreateTransactionTypeViewModel

<div class="modal modal-sheet fade  bg-body-secondary p-4 py-md-5" id="createModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Create New Transaction Type</h1>
                <button id="cancelBtn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-5 pt-0 mt-4">
                <form class="" id="CreateForm" role="form" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" name="code" id="code" placeholder="" />
                        <label for="code">Code</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" name="description" id="description" placeholder="" />
                        <label for="description">Description</label>
                    </div>
                    <p class="mb-5"><em>Please input name to create new transaction type.</em></p>
                    <button id="btnCreate" class="w-100 mt-2 btn btn-lg rounded-3 btn-primary" type="button">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#cancelBtn").click(function () {
        CloseModal();
    });

    $("#btnCreate").click(function () {
        OpenCreateModal();

    });

    function OpenCreateModal() {
        var code = $('#CreateForm').find('input[name="code"]').val();
        var description = $('#CreateForm').find('input[name="description"]').val();
        var viewModel = {
            Code: code,
            Description: description,
            IsActive: true
        };
        var parameters = { viewModel: viewModel };
        $.ajax({
            url: '/TransactionType/Create/',
            type: 'POST',
            data: parameters,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (data) {
                // NOTE: TO DO better way of calling callback function from parent
                CloseModal();
                // Swal.fire({
                //     title: "Success!",
                //     icon: "success",
                //     confirmButtonText: "Ok",
                //     confirmButtonColor: '#14984a'
                // });
                window.location.reload()
                // $('#positionListPartialContainer').load('/Position/PositionListPartialView');

            }, 
            
            error: function (e) {
                console.log(e);
            }
        });
    }

    function CloseModal() {
        $("#createModal").modal("hide");
        let elem = document.querySelector('#createModal');
        elem.parentNode.removeChild(elem);
    }
</script>