@model Intl.Realty.Firm.Models.Models.TransactionType

@using System.ComponentModel.DataAnnotations
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<h1>Edit</h1>

<h4>Transaction Types</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3 mt-3 row form-check">
                <div class="col-2">
                    <input type="checkbox" class="form-check-input" asp-for="IsActive" />
                    <label class="form-check-label" asp-for="IsActive"></label>
                </div>
                <div class="col-5">
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}