@{
    ViewData["Title"] = "Transaction";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<div>
    <h1 class="text-blue">Transaction</h1>
    <div id="addLinksContainer">
        <a id="addProposalLink" class="nav-link text-dark" asp-area="" asp-controller="Transaction" asp-action="AddTransaction">Add Transaction</a>
        <button id="addProposalLinkButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProposalModal">Add New Proposal</button>

    </div>
</div>