@using System.ComponentModel.DataAnnotations

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-md-between align-items-center">
            <h1 class="text-blue mb-0">Users</h1>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {

    });
</script>

