<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body d-flex flex-column align-items-center py-5">
                <div class="text-white bg-blue p-4 rounded-circle border-icon">
                    <i data-feather="help-circle" width="100" height="100"></i>
                </div>
                <h1 class="text-blue fw-bolder pt-3">Delete</h1>
                <span class="fw-bolder">Are you sure you want to delete?</span>
            </div>
            <div class="d-flex justify-content-center mb-5 gap-4">
                <button type="button" class="btn btn-secondary w-25" id="btnCancel" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="submit" class="btn btn-primary w-25" id="btnConfirmDelete">Confirm</button>
            </div>
        </div>
    </div>
</div>

