@using Intl.Realty.Firm.Models.Models.ViewModel.DocumentTypeAssignmentVM
@model CreateDocumentTypeAssignmentViewModel

<div class="modal modal-sheet fade  bg-body-secondary p-4 py-md-5" id="createModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Create New DocumentTypeAssignment</h1>
                <button id="cancelBtn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-5 pt-0 mt-4">
                <form class="" id="CreateForm" role="form" method="post">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label fw-bolder">Type of Document</label>

                            @Html.DropDownList("DocumentTypeDDL", Model.DocumentTypeIEnum, "Select Document Type...",
                                     new
                                     {
                                         @class = "form-select",
                                         @required = "required"
                                     })

                            @if (!string.IsNullOrEmpty(ViewData.ModelState[nameof(Model.DocumentTypeId)]?.Errors.FirstOrDefault()?.ErrorMessage))
                            {
                                @Html.ValidationMessageFor(m => m.DocumentTypeId, "", new { @class = "error" })
                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label fw-bolder">Type of Transaction</label>

                            @Html.DropDownList("TransactionTypeDDL", Model.TransactionTypeIEnum, "Select Transaction Type...",
                                     new
                                     {
                                         @class = "form-select",
                                         @required = "required"
                                     })

                            @if (!string.IsNullOrEmpty(ViewData.ModelState[nameof(Model.TransactionTypeId)]?.Errors.FirstOrDefault()?.ErrorMessage))
                            {
                                @Html.ValidationMessageFor(m => m.TransactionTypeId, "", new { @class = "error" })
                            }
                        </div>
                    </div>
                    <p class="mb-5"><em>Please input name to create new transaction type.</em></p>
                    <button id="btnCreate" class="w-100 mt-2 btn btn-lg rounded-3 btn-primary" type="button">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#cancelBtn").click(function () {
        location.reload();
    });

    $("#btnCreate").click(function () {
        OpenCreateModal();

    });

    function OpenCreateModal() {
        var documentTypeId = $('#DocumentTypeDDL :selected').val();
        var transactionTypeId = $('#TransactionTypeDDL :selected').val()
        var viewModel = {
            DocumentTypeId: documentTypeId,
            TransactionTypeId: transactionTypeId,
            IsActive: true
        };
        var parameters = { viewModel: viewModel };
        $.ajax({
            url: '/DocumentTypeAssignment/Create/',
            type: 'POST',
            data: parameters,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (data) {
                // NOTE: TO DO better way of calling callback function from parent
                CloseModal();
                // Swal.fire({
                //     title: "Success!",
                //     icon: "success",
                //     confirmButtonText: "Ok",
                //     confirmButtonColor: '#14984a'
                // });
                window.location.reload()
                // $('#positionListPartialContainer').load('/Position/PositionListPartialView');

            }, 
            
            error: function (e) {
                console.log(e);
            }
        });
    }

    function CloseModal() {
        $("#createModal").modal("hide");
        let elem = document.querySelector('#createModal');
        elem.parentNode.removeChild(elem);
    }
</script>